
.orange{color:#E95A08;}
.grey{color: #8987A1;}
button{background-color: #E95A08;
border: none;
color: white;}
.long{width: 100%;}
.center{text-align: center;}

/* navber styles*/
.flex{display: flex;}

nav li{
list-style: none;
margin-right: 15px;} 
.navber{display: flex;
max-width: 1140px;
justify-content: space-between;
align-items: center;
margin: 0 auto;}



.home{font-weight:bold;
font-size: 1rem;} 
/*banner styles*/
.bigger{font-size: 3rem;
font-weight: bold;}
.fresh-flower{width: 570px;}
.fresh-flower-pic{max-width: 100%;}
.banner{display: flex;
max-width: 1140px;
align-items: center;
margin: 0 auto;
margin-top: 130px;}
/*our plants*/
.our-plants{max-width: 600px;
text-align: center;
margin: 0 auto;
margin-top: 100px;} 
.box{max-width: 260px;
height: auto;} 
.btn{height: 30px;
padding: 5px 15px;}
.our-plants-items{max-width: 1140px;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 5px;
margin: 0 auto;
margin-top: 25px;}
/*flower and plants lover*/
.flower-store{
   max-width: 100%;
   height: 450px;
}
.up{margin-top: -100px;}
.big{font-size:2.5rem;
font-weight: bold;}
.plants-lover{display: flex; 
    justify-content: center;
    align-items: center;
    max-width:1140px;
    margin: 0 auto;
    margin-top: 200px;
    gap:60px;
}
.badge{ max-width:170px;
height: 170px;
transform: translate(300px,100px);}

/*mobile responsive*/
@media screen and (max-width: 576px){
   .hidden, .badge{display: none;} 
   .banner{flex-direction: column-reverse;}
   .fresh-flower{width: 100%;}
   .our-plants-items{grid-template-columns: repeat(2,1fr);}
   .plants-lover{flex-direction: column;}
}